
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    height: 10vh;  
    background:#FF3C3C; 
    top:0;
    position: sticky;
}

main {
    height: 85vh;
}

footer {
    height: 5vh;
}
 
.navbar {
    background:#FF3C3C;
  } 

.text-justify {
    text-align: justify;
  }

/*    
#nosotros {
    background:#EFD0C9; 
}  */