
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    height: 10vh;  
    background:#FF3C3C; 
    top:0;
    position: sticky;
    border: 1px solid white;
}

main {
    height: 85vh;
    background-color:#F8F9FA;
}

footer {
    height: 5vh;
}
 
.navbar {
    background:#FF3C3C;
  } 

.navbar .navbar-nav .nav-link:hover {
    background-color: #212529; 
    color: white; 
    border-radius: 3px; 
}

.text-justify {
    text-align: justify;
  }

/*    
#nosotros {
    background:#EFD0C9; 
}  */

/* "container-flex-bnr": banner-principal con imagen */
.container-flex-bnr {
    height: 30vh;
    background-color:#EFD0C9;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-flex-bnr-item {
    width: 1200px;
    height: 275px;
    background-color:white;
    border: .5px solid white;
    border-radius: 12px;
    border-width: 2px;
    margin: auto;
    background-image: url("../assets/images/home-banner.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.container-flex-prod {
    height: 45vh;
    background-color:#F5A593;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Es el contendor externo GRIS para los productos y los precios */
.container-flex-prod-items {
    width: 1200px;
    height: 410px;
    background-color:#C0C0C0;
    border: .5px solid white;
    border-radius: 12px;
    border-width: 2px;
    margin: auto;
    display: flex;
    padding: 12px;
    justify-content: space-around;
}

/* Son las propiedades de las 4 cajas superiores del producto */
.container-flex-prod-item-p {
    width: 280px;
    height: 380px;
    background-color:white;
    border: .5px solid black;
    border-radius: 12px;
    border-width: 1px;
    display: flex;
    align-items: flex-end;
    
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

/*borrar ?*/
.container-flex-prod-item-pre {
    width: 280px;
    height: 110px;
    background-color:#EFD0C9;
    border: .5px solid white;
    border-radius: 12px;
    border-width: 1px;
    margin-bottom: 10px;
}


#prod-1 {
    background-image: url("../assets/images/Producto-1.png");
}

#prod-2 {
    background-image: url("../assets/images/Producto-2.png");
}

#prod-3 {
    background-image: url("../assets/images/Producto-3.png");
}

#prod-4 {
    background-image: url("../assets/images/Producto-4.png");
}


.producto-info {
    /* producto-info: Clase común para los dos <p> [descripción del producto] + [leyenda del precio]  */
    font-family: sans-serif;
}

.producto-desc {
    /* Es la leyenda de la descripción del producto */
    font-size: 1.1rem;
    text-align: center;
}

.producto-precio {
    /* Es la leyenda del precio en el producto */
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.container-flex- {
    width: 280px;
    height: 90px;
    background-color:white;
    border: .5px solid black;
    border-radius: 12px;
    border-width: 1px;  
}

.container-flex-tarjeta {
    height: 10vh;
    background-color:#EFD0C9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-flex-tarjeta-item {
    width: 1200px;
    height: 75px;
    background-color:#EAEDED;
    border: .5px solid black;
    border-radius: 12px;
    border-width: 1px;
}

/* Leyenda PAGÁ con tarjetas de crédito */
.plan-tarjetas {
    font-size: 1.5rem;
    font-weight: bold;
    text-align:center;
    /* background-color: aquamarine; */
}
/* Leyenda de ADHERIDOS A TODAS las tarjetas de crédito  */
.plan-adherido{
    font-size: 1.0rem;
    font-weight:normal;
    /* background-color: blueviolet; */
}

/*---------------------------------------------*/
/*                                             */
/*      "tienda.html" con GRID                 */
/*                                             */
/*---------------------------------------------*/
.grid-container-categ {
    height: 75vh;
    background-color:#EFD0C9;
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    grid-template-rows: 180px 50px 70px 290px 100px;
    grid-template-areas: 
        "prod-1 prod-2 prod-3 prod-4"
        "prod-5 prod-6 prod-7 prod-8"
        "prod-9 prod-9 prod-9 prod-9"
        "prod-10 prod-11 prod-12 prod-13"
        "prod-14 prod-15 prod-16 prod-17"
        ; 
    justify-content:center;  
    column-gap: 10px ;
    row-gap: 1px;
}

.grid-item-categ {
    background-color:white;
    text-align: center;
    border: 1px solid black;
    margin-top: 15px;
}

.prod-1,.prod-2,.prod-3,.prod-4 {
    border: .5px solid black;
    border-radius: 12px;
    border-width: 1px;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.prod-1 {
    grid-area: "prod-1"; 
    background-image: url("../assets/images/categoria-1.jpg");     
}
.prod-2 {
    grid-area: "prod-2"; 
    background-image: url("../assets/images/categoria-2.jpg");        
}
.prod-3 {
    grid-area: "prod-3";  
    background-image: url("../assets/images/categoria-3.jpg");          
}
.prod-4 {
    grid-area: "prod-4";  
    background-image: url("../assets/images/categoria-4.jpg");            
}

/* Cajas de las CATEGORÍAS */
.prod-5,.prod-6,.prod-7,.prod-8 {
    font-weight: bold;
    font-size: 1.2rem;
    background-color:#FF3C3C;
    color: white;
    border-radius: 3px;
    border-width: 1px;
}

.prod-9 {
    grid-column-start: 1;
    grid-column-end: 5;
    font-weight: bold;
    font-size: 2rem;
    background-color:#F4F2EE;

    border: .5px solid #FF3C3C;
    border-radius: 12px;
    border-width: 1px;
}

.prod-10,.prod-11,.prod-12,.prod-13 {
    border: .5px solid black;
    border-radius: 12px;
    border-width: 1px;
}

.prod-10 {
    background-image: url("../assets/images/Producto-5.png");
}

.prod-11 {
    background-image: url("../assets/images/Producto-6.png");
}

.prod-12 {
    background-image: url("../assets/images/Producto-7.png");
}

.prod-13 {
    background-image: url("../assets/images/Producto-8.png");
}

.prod-14,.prod-15,.prod-16,.prod-17 {
    background-color: #F4F2EE;
    border: .5px solid #FF3C3C;
    border-radius: 12px;
    border-width: 1px;
} 


/*---------------------------------------------*/
/*                                             */
/*      "carrito.html" con GRID                */
/*                                             */
/*---------------------------------------------*/

.grid-container-carrito {
    height: 75vh;
    background-color:#EFD0C9;
    display: grid;
    grid-template-columns: 200px 350px 280px 280px;
    grid-template-rows: 70px 240px 240px 90px ;
    grid-template-areas: 
        "item-1 item-1  item-2 item-2"
        "item-3 item-4 item-5 item-6"
        "item-7  item-8 item-9 ."
        "item-11 item-12 . ."
        ; 
    justify-content:center;  
    column-gap: 10px ;
    row-gap: 1px;   
}


.carrito-item {
    background-color:white;
    text-align: center;
    border: 1px solid black;
    margin-top: 15px;
}

.item-1 {    
    grid-column-start: 1;
    grid-column-end: 3;
}

.item-2 {    
    grid-column-start: 3;
    grid-column-end: 5;
}


.item-5 {    
    
}

.item-10 {
    /* background-color:#EFD0C9;
    border: 1px solid #EFD0C9; */
    
}

.item-13, .item-14 {    
   display: none;
}