* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#banner-oferta-letras {
  background-color: #E85042;
}

.img-categ {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#categorias-en-oferta {
  height: 20vh;
  font-weight: bold;
  text-align: center;
}

#productos {
  height: 40vh;
}

#categorias-leyenda {
  height: 8vh;
  font-weight: bold;
  text-align: center;
}

header {
  height: 10vh;
  background: #FF3C3C;
  top: 0;
  position: sticky;
  border: 1px solid white;
  z-index: 1;
}

footer {
  height: 5vh;
}

.navbar {
  background: #FF3C3C;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: #212529;
  color: white;
  border-radius: 3px;
}

#prod-1 {
  transition: height 1s;
}
#prod-1:hover {
  transform: scale(1.05);
  z-index: 2;
  border: 2px solid black;
}

#prod-2 {
  transition: height 1s;
}
#prod-2:hover {
  transform: scale(1.05);
  z-index: 2;
  border: 2px solid black;
}

#prod-3 {
  transition: height 1s;
}
#prod-3:hover {
  transform: scale(1.05);
  z-index: 2;
  border: 2px solid black;
}

#prod-4 {
  transition: height 1s;
}
#prod-4:hover {
  transform: scale(1.05);
  z-index: 2;
  border: 2px solid black;
}

#prod-5 {
  transition: height 1s;
}
#prod-5:hover {
  transform: scale(1.05);
  z-index: 2;
  border: 2px solid black;
}

#prod-6 {
  transition: height 1s;
}
#prod-6:hover {
  transform: scale(1.05);
  z-index: 2;
  border: 2px solid black;
}

#prod-7 {
  transition: height 1s;
}
#prod-7:hover {
  transform: scale(1.05);
  z-index: 2;
  border: 2px solid black;
}

#prod-8 {
  transition: height 1s;
}
#prod-8:hover {
  transform: scale(1.05);
  z-index: 2;
  border: 2px solid black;
}

#cat-prod-1 {
  transition: height 1s;
}

#cat-prod-2 {
  transition: height 1s;
}

#cat-prod-3 {
  transition: height 1s;
}

#cat-prod-4 {
  transition: height 1s;
}

@keyframes cambiar-color {
  0% {
    color: #ff0;
  }
  25% {
    color: #f80;
  }
  50% {
    color: white;
  }
  75% {
    color: #f80;
  }
  100% {
    color: white;
  }
}
.animar-texto {
  color: white;
}
.animar-texto:hover {
  animation: cambiar-color 0.5s forwards;
  font-weight: bold;
  font-size: 2rem;
}

.text-justify {
  text-align: justify;
}

#cuotas {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

#tarjetas {
  height: 5vh;
}

#tarjetas-adheridos {
  height: 5vh;
  font-weight: bold;
  text-align: center;
}

main {
  background-color: #EFD0C9;
}

#banner-carrito {
  height: 15vh;
}

#productos-carrito {
  height: 25vh;
}

#tarjetas {
  height: 5vh;
}

#tarjetas-adheridos {
  height: 5vh;
  font-weight: bold;
  text-align: center;
}

.banner-carrito-letras {
  background-color: #E85042;
}

#banner-letras, #banner-img {
  background-color: #E85042;
}

.body-404 {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.error-container {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}
.error-container .h1-404 {
  font-size: 100px;
  margin: 0;
  color: #e85042;
}
.error-container .p-404 {
  font-size: 18px;
  margin: 20px 0;
}
.error-container .a-404 {
  color: #fff;
  background-color: #e85042;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.error-container .a-404:hover {
  background-color: #c73b35;
}

/*# sourceMappingURL=styles.css.map */
