
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    height: 10vh;  
    background:#FF3C3C; 
    top:0;
    position: sticky;
    border: 1px solid white;
}

main {
    height: 85vh;
    background-color: cyan;
}

footer {
    height: 5vh;
}
 
.navbar {
    background:#FF3C3C;
  } 

.text-justify {
    text-align: justify;
  }

/*    
#nosotros {
    background:#EFD0C9; 
}  */

/* "container-flex-bnr": banner-principal con imagen */
.container-flex-bnr {
    height: 30vh;
    background-color:#EFD0C9;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-flex-bnr-item {
    width: 1200px;
    height: 275px;
    background-color:white;
    border: .5px solid white;
    border-radius: 12px;
    border-width: 2px;
    margin: auto;
    background-image: url("../assets/images/home-banner.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.container-flex-prod {
    height: 45vh;
    background-color:#F5A593;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-flex-prod-item {
    width: 1200px;
    height: 410px;
    background-color:#C0C0C0;
    border: .5px solid white;
    border-radius: 12px;
    border-width: 2px;
    margin: auto;
    /* background-image: url("../assets/images/home-banner.png"); */
    /* background-size:cover;
    background-position:center;
    background-repeat:no-repeat; */
}


.container-flex-tarjeta {
    height: 10vh;
    background-color:#EFD0C9;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-flex-tarjeta-item {
    width: 1200px;
    height: 75px;
    background-color:#EAEDED;
    border: .5px solid black;
    border-radius: 12px;
    border-width: 1px;
    margin: auto;
}