
@import "../utilidades/variables";

 main {
     background-color: $color-fondo-carrito;
 }

#banner-carrito {
    height: 15vh;
}
  
#productos-carrito {
    height: 25vh;
}

#tarjetas {
    height: 5vh;
}

#tarjetas-adheridos {
    height: 5vh;
    font-weight: bold;
    text-align: center;  
}