
@import "../utilidades/variables";

.navbar {
    background:$color-header;

    .navbar-nav .nav-link:hover {
        background-color: #212529; 
        color: white; 
        border-radius: 3px; 
    }
  } 

@for $i from 1 through 8 {
  #prod-#{$i} {
    transition: height 1s;
    
    &:hover {
      transform: scale(1.05);
      z-index: 2;
      border: 2px solid black;
    }
  }
}

@for $i from 1 through 4 {
  #cat-prod-#{$i} {
    transition: height 1s;
  }
}

@keyframes cambiar-color {
  0% {
    color: #ff0;
  }
  25% {
    color: #f80;
  }
  50% {
    color: white;
  }
  75% {
    color: #f80;
  }
  100% {
    color: white;
  }
}
  
.animar-texto {
  color: white;

  &:hover {
      animation: cambiar-color $tiempo-transicion-txt forwards;
      font-weight: bold; 
      font-size: 2rem;
  }
}

.text-justify {
  text-align: justify;
}

#cuotas {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;   
}

#tarjetas {
  height: 5vh;
}

#tarjetas-adheridos {
  height: 5vh;
  font-weight: bold;
  text-align: center;  
}
