
@import "../utilidades/variables";

main {
    height: 85vh;
    background-color:$color-main;
    
    // Sección del banner
    .container-flex-bnr {
        height: 30vh;
        background-color:#EFD0C9;
        display: flex;
        justify-content: center;
        align-items: center;  

      .container-flex-bnr-item {
            // Estilos específicos para el item dentro de la sección del banner
            width: 1200px;
            height: 275px;
            background-color:white;
            border: .5px solid white;
            border-radius: 12px;
            border-width: 2px;
            margin: auto;
            background-image: url($banner-home);
            @include img-ajuste();
      }
    }
  
    // Sección de productos
    .container-flex-prod {
        height: 45vh;
        background-color:#F5A593;
        display: flex;
        justify-content: center;
        align-items: center; 

      .container-flex-prod-items {
            width: 1200px;
            height: 410px;
            background-color:#C0C0C0;
            border: .5px solid white;
            border-radius: 12px;
            border-width: 2px;
            margin: auto;
            display: flex;
            padding: 12px;
            justify-content: space-around;

        .container-flex-prod-item-p {
            width: 280px;
            height: 380px;
            background-color:$color-fondo-producto;
            border: .5px solid black;
            border-radius: 12px;
            border-width: 1px;
            display: flex;
            align-items: flex-end;
            @include img-ajuste();
            
            transition:$tiempo-transicion-prod;

            .container-flex-prod-item-pre {
                width: 280px;
                height: 110px;
                background-color:#EFD0C9;
                border: .5px solid white;
                border-radius: 12px;
                border-width: 1px;
                margin-bottom: 10px;

              .producto-info {
                    @include producto-informacion();

                &.producto-desc {
                    // Estilos para la descripción del producto
                    @include producto-descripcion();
                }

                &.producto-precio {
                    // Estilos para el precio del producto
                    @include producto-precio();
                }
              }
            }
          }
        }
      }
    }
  
    // Sección de tarjetas
    .container-flex-tarjeta {
        height: 10vh;
        background-color:#EFD0C9;
        display: flex;
        justify-content: center;
        align-items: center;

      .container-flex-tarjeta-item {
            width: 1200px;
            height: 75px;
            background-color:#EAEDED;
            border: .5px solid black;
            border-radius: 12px;
            border-width: 1px;

        .plan-tarjetas {
            // Estilos para el plan de tarjetas
            font-size: 1.5rem;
            font-weight: bold;
            text-align:center;
        }
        
        .plan-tarjetas.plan-adherido {
            // Estilos adicionales para el plan adherido
            font-size: 1.0rem;
            font-weight:normal;
        }
      }
    }

  