
#categorias-en-oferta{
    height: 20vh;
    font-weight: bold;
    text-align: center; 
}

#categorias-leyenda {
    height: 8vh;
    font-weight: bold;
    text-align: center; 
}

.img-categ {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}


#productos {
    height: 40vh;
    /* transition: 0.2s; */
}