$color-main: #F8F9FA;
$color-header:#FF3C3C;
$color-fondo-producto:white;

$img-producto-1:"../assets/images/Producto-1.png";
$img-producto-2:"../assets/images/Producto-2.png";
$img-producto-3:"../assets/images/Producto-3.png";
$img-producto-4:"../assets/images/Producto-4.png";

// Tiempo de transición de la tarjetas de producto
$tiempo-transicion-prod: 0.2s;

$banner-home:"../assets/images/home-banner.png";

@mixin img-ajuste {
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

@mixin producto-informacion {
    font-family: sans-serif;
}

@mixin producto-descripcion {
    // Estilos para la descripción del producto
    font-size: 1.1rem;
    text-align: center;  
}

@mixin producto-precio {
    // Estilos para el precio del producto
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

$img-categorias: (
    img-categoria-1: "../assets/images/categoria-1.jpg",
    img-categoria-2: "../assets/images/categoria-2.jpg",
    img-categoria-3: "../assets/images/categoria-3.jpg",
    img-categoria-4: "../assets/images/categoria-4.jpg" 
);