
$color-main: #F8F9FA;
$color-header:#FF3C3C;
$color-fondo-producto:white;

$color-fondo-carrito:#EFD0C9;
$color-fondo-pages:#E85042;

$tiempo-transicion-txt: 0.5s;

@mixin img-ajuste {
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

@mixin producto-informacion {
    font-family: sans-serif;
}

@mixin producto-descripcion {
    font-size: 1.1rem;
    text-align: center;  
}

@mixin producto-precio {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
